## 1.Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import os

## 2. Creating Data File
Creating a single data.csv file out of four parts of netflix training dataset.

In [ ]:
if not os.path.isfile('data.csv'):
    #read all txt file and store them in one big file
    data = open('data.csv', mode='w')
    
    row = list()
    files = ['./Netflix_Data/combined_data_1.txt', './Netflix_Data/combined_data_2.txt',
            './Netflix_Data/combined_data_3.txt', './Netflix_Data/combined_data_4.txt']
    for file in files:
        print('reading ratings from {}...'.format(file))
        with open(file) as f:
            for line in f:
                del row[:]
                line = line.strip()
                if line.endswith(':'):
                    #all are rating
                    movid_id = line.replace(':', '')
                else:
                    row = [x for x in line.split(',')]
                    row.insert(0, movid_id)
                    data.write(','.join(row))
                    data.write('\n')
    data.close()

## 3. Creating Pandas Data Frame
Creating a Pandas datafram from data.csv file

In [12]:
df = pd.read_csv('data.csv', sep=',', names=['movie','user','rating', 'date']).iloc[:1000]

In [13]:
users = df['user'].max()
movies = df['movie'].max()
A = pd.DataFrame(0, index=range(5),columns=range(movies))

In [14]:
df.shape

(1000, 4)

In [15]:
A.shape

(5, 3)

## 4. Creating Preference Matrix (A) Data Frame

In [17]:
for index, row in df.iterrows():
    
    user_id = row['user']
    movie_id = row['movie']
    rating = row['rating']
    
    A.loc[user_id - 1, movie_id - 1] = rating
        
A.head(500)

           0    1    2
0        0.0  0.0  0.0
1        0.0  0.0  0.0
2        0.0  0.0  0.0
3        0.0  0.0  0.0
4        0.0  0.0  0.0
...      ...  ...  ...
1001778  4.0  NaN  NaN
2093104  3.0  NaN  NaN
1123958  3.0  NaN  NaN
1876296  5.0  NaN  NaN
1364480  4.0  NaN  NaN

[500 rows x 3 columns]

In [18]:
A.shape

(993, 3)

In [19]:
A = A.to_numpy(na_value=0)

In [20]:
A = A[~np.all(A == 0, axis=1)]

In [21]:
A.shape

(988, 3)

In [22]:
np.save('Netflix_Movies', A)